@import "Header-Nav";
@import "HeadlineArticles";
@import "HeadlineArticles";
@import "Cards";
@import "Card";
@import "Table";
@import "Footer";
@import "MediaQueries";


/* Global Rules and Variables
==============================
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

