@import "globals";

/* Card / Article Page
============================
*/
.refresh-warn {
  margin: 110px;
  text-align: center;
  color: rgb(207, 84, 12);
}

.card {
  list-style: none;
  padding: 0;
  margin-top: 90px;
}

.card li {
  margin: -20px auto 0 auto;
}

.card li img {
  width: 100%;
}

.card li h2 {
  font-family: $largeHeading-font;
  font-size: 1.5rem;
  color: $accent-clr;
  margin: 10px auto 20px auto;
  max-width: 90%;
}

.card li h3 {
  font-family: $fancyTech-font;
  font-size: 1.3rem;
  font-weight: 300;
  color: $secondary-clr;
  margin: 0 auto 20px auto;
  max-width: 90%;
}

.card li p {
  font-family: $paragraph-font;
  color: $primary-clr;
  font-weight: bold;
  margin: 0 auto 0 auto;
  max-width: 90%;
}

.card img {
  width: 100%;
  height: auto;
}

.external-lnk {
  display: flex;
  justify-content: center;
  margin: 40px auto 0 auto;
  text-decoration: none;
  max-width: 165px;
  margin-bottom: 35px;
}

.external-btn {
  font-family: $fancyTech-font;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1.2em;
  border-radius: 15px;
  color: $bg-clr;
  background-image: linear-gradient(-120deg,  $secondary-clr 0%, $standout-clr 100%);
  background-color: $secondary-clr;
  border: none;
  cursor: pointer;
}

.external-btn:hover {
  color: $bg-clr;
  background-image: linear-gradient(0deg, $primary-clr 0%, $accent-clr 100%);
}