@import "globals";

/* Card / Article Page
============================
*/
.refresh-warn {
  margin: 40px;
  text-align: center;
  color: rgb(207, 84, 12);
}

.card {
  list-style: none;
  padding: 0;
  margin-top: 90px;
}

.card li {
  margin: 20px auto 0 auto;
  max-width: 80%;
}

.card li h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8rem;
  color: $accent-clr;
}

.card li h3 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.4rem;
  font-weight: 300;
  color: $secondary-clr;
}

.card li p {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: $primary-clr;
  font-weight: bold;
}

.card img {
  width: 100%;
  height: auto;
}

.external-lnk {
  display: flex;
  justify-content: center;
  margin: 60px auto 0 auto;
  text-decoration: none;
}

.external-btn {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1.2em;
  border-radius: 15px;
  color: $standout-clr;
  /* background-color: $primary-clr; */
  background-image: linear-gradient($secondary-clr,$primary-clr 90%, $secondary-clr);
  border: solid 5px $primary-clr;
  cursor: pointer;
}

.external-btn:hover {
  color: $standout-clr;
  /* background-color: $accent-clr; */
  /* background-image: linear-gradient($primary-clr, $primary-clr); */
  background-image: linear-gradient($secondary-clr, $primary-clr 10%);
  border: solid 5px $primary-clr;
}