/* Global Rules and Variables
==============================
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

$fancyTech-font: 'Share Tech Mono', monospace;
$largeHeading-font: 'Roboto Slab', serif;
$paragraph-font: 'M PLUS Rounded 1c', sans-serif;

//Alternate Professional Theme
// $primary-clr: #28283A;
// $secondary-clr: #41836E;
// $accent-clr: #CC9766;
// $standout-clr: #3FD6BC;
// $bg-clr: white;

// Bright Colored
$primary-clr: #38302F;
$secondary-clr: #138786;
$accent-clr: #FA6111;
$standout-clr: #9BE016;
// $bg-clr: #38302F;
$bg-clr: #FFFFFF;