@import "globals";

/* Headline Articles
============================
*/
.headlines-container {
  // background-color: $primary-clr;
  background-color: $bg-clr;
  // background-color: #FFFFFF;
  padding-bottom: 15px;
}

.primary-headline a {
  display: grid;
  /* grid-template-rows / grid-template-columns; */
  grid-template: 1fr 20px / 1fr;
  row-gap: 10px;
  // column-gap: 10px;
  height: auto;
  /* max-height: 700px; */
  text-decoration: none;
  margin-bottom: 0;
}

.primary-headline img {
  margin-top: 71px;
  width: 100%;
  // max-width: 90%;
  height: auto;
  /* min-height: 420px; */
  /* grid-row-start / grid-column start / grid-row-end / grid-column-end; */
  grid-area: 1 / 2 / span 1 / span 1;
  // justify-self: center;
}

.primary-headline h2 {
  color: $accent-clr;
  font-family: $largeHeading-font;
  font-size: 1.32rem;
  grid-area: 2 / 2 / span 1 / span 1;
  text-align: center;
  // justify-self: center;
  /* vertical-align: top; */
}

.mini-headlines {
  display: none;
}
