@import "globals";

/* Headline Articles
============================
*/
.headlines-container {
  background-color: $bg-clr;
  padding-bottom: 15px;
}

.primary-headline a {
  display: grid;
  /* grid-template-rows / grid-template-columns; */
  grid-template: 1fr 20px / 1fr;
  row-gap: 10px;
  height: auto;
  text-decoration: none;
  margin-bottom: 0;
}

.primary-headline img {
  margin-top: 71px;
  width: 100%;
  height: auto;
  grid-area: 1 / 2 / span 1 / span 1;
}

.primary-headline h2 {
  color: $accent-clr;
  font-family: $largeHeading-font;
  font-size: 1.32rem;
  grid-area: 2 / 2 / span 1 / span 1;
  text-align: center;
}

.mini-headlines {
  display: none;
}
