/* Header / Nav
============================
} */
header nav {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  background-color: white;
  border-bottom: solid 1px lightgray;
}

header nav h1 {
  align-content: flex-start;
  font-size: 1.2rem;
}

header nav input {
  margin-top: 15px;
  max-height: 50px;
  display: none;
}

.link {
  margin-top: 20px;
}

/* Cards / Main
============================
} */
.cards {
  display: inline;
}
.cards li {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 90%;
  /* width: 100%; */
  margin: 50px auto 90px auto;
  border-bottom: solid 1px lightgray;
  text-align: left;
}

.cards li img {
  width: 100%;
  height: auto;
}

.maininfo {
  padding-top: 50px;
  max-width: 90%;
}

.refresh-warn {
  margin-top: 80px;
  position: absolute;
  display: flex;
  align-self: center;
}

/* Footer
============================
} */
footer ul li {
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  padding: 0.5rem;
}

footer p {
  display: block;
  text-align: center;
}


/* Media Queries (Tablets)
============================
} */
@media only screen and (max-width: 48em) {
  .cards {
    display: inline;
  }
  .cards li {
    display: grid;
    flex-direction: row;
    list-style: none;
    max-width: 40%;
    /* width: 100%; */
    margin: 50px auto 90px auto;
    border-bottom: solid 1px lightgray;
    text-align: left;
  }
  
  .cards li img {
    width: 40%;
    height: auto;
  }
}