/* Header / Nav
============================
} */
header nav {
  display: grid;
  grid-template-columns: 20px 2fr 1fr 20px;
  width: 100%;
  height: 100px;
  /* position: fixed; */
  background-color: white;
  border-bottom: solid 1px lightgray;
  margin-top: -20px;
}

/* header nav {
  display: inline-flex;
  justify-content: space-around;
  /* min-height: 2rem;
  width: 100%;
  position: fixed;
  background-color: white;
  border-bottom: solid 1px lightgray;
} */

header nav h1 {
  font-size: 1.6rem;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  margin-top: 40px;
}

.site-name {
  text-decoration: none;
}

.site-name:visited {
  color: black;
}

.site-name:hover {
  color: red;
}

.site-name:active {
  color: rgb(4, 4, 119);
}

/* header nav input {
  margin-top: 15px;
  max-height: 50px;
  display: none;
} */

.link {
  margin-top: 40px;
  text-align: right;
  padding-right: 2em;
  text-decoration: none;
}

.link:visited {
  color: black;
}

.link:hover {
  color: red;
}

.link:active {
  color: blue;
}

/* Cards / Main
============================
} */
.cards {
  display: inline;
  padding: 0;
}
.cards li {
  display: flex;
  flex-direction: column;
  list-style: none;
  max-width: 90%;
  margin: 50px auto 60px auto;
  border-bottom: solid 1px lightgray;
  text-align: left;
}

.cards li img {
  width: 100%;
  height: auto;
}

.article-lnk {
  text-decoration: none;
}

.article-lnk:visited {
  color: black;
}

.article-lnk:hover {
  box-shadow:  5px 5px 8px #353535;
  animation-name: tile-move;
  animation-duration: 1s;
  animation-timing-function: linear;
  -webkit-animation-name: tile-move;
  -webkit-animation-duration: 1s; 
  -webkit-animation-timing-function: linear;
}

@keyframes tile-move {
  0% {left: 0px; top: 0px;}
  100% {left: 100px; top: 20px;}
}

.maininfo {
  padding-top: 20px;
  max-width: 90%;
}

.maininfo h2 {
  text-align: center;
  font-size: 1.8rem;
}


.maininfo ol {
  margin: 10px 0 20px 40px;
  color: rgb(4, 4, 119);
  font-weight: 600;
}

.no-results {
  margin: 10px 0 20px 80px;
}

.refresh-warn {
  margin: 40px;
  text-align: center;
  color: rgb(207, 84, 12);
}

.card {
  list-style: none;
  padding: 0;
}

.card li {
  margin: 20px auto 0 auto;
  max-width: 80%;
}

.card img {
  width: 100%;
  height: auto;
}

.external-lnk {
  display: flex;
  justify-content: center;
  margin: 60px auto 0 auto;
  text-decoration: none;
}

.external-btn {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1.2em;
  border-radius: 15px;
  color: white;
  background-color: red;
  cursor: pointer;
}

/* Footer
============================
} */
footer {
  margin-top: 50px;
}
footer ul {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
}
footer ul li {
  /* display: inline-flex; */
  align-items: center;
  flex-direction: column;
  
  /* flex-direction: row; */
  list-style: none;
  padding: 0.5rem;
}

footer p {
  display: block;
  text-align: center;
}


/* Media Queries (Tablets)
============================
} */
@media only screen and (min-width: 48em) and (max-width: 60em) {
  header nav {
    grid-template-columns: 20px 4fr 1fr 20px;
  }
  
  header nav h1 {
    margin-top: 40px;
    align-content: flex-start;
    font-size: 1.8rem;
  }

  .link {
    margin-top: 50px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 750px;
    margin: 10px auto 10px auto;
  }
  .cards li {
    list-style: none;
    border-bottom: solid 1px lightgray;
    text-align: left;
  }
  
  .cards li img {
    width: 100%;
    height: auto;
  }

  .card li {
    max-width: 750px;
  }
}

/* Media Queries (Laptops and Bigger)
=====================================
} */
@media only screen and (min-width: 60em) {
  header nav h1 {
    font-size: 2.4rem;
  }

  .link {
    margin-top: 60px;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1200px;
    margin: 40px auto 0 auto;
  }

  .card li {
    max-width: 900px;
  }
}